<h1>Imported Files</h1>

<div class="flickr_pagination">
  <%= will_paginate @imported_files, :container => false %>
</div>
<% if @imported_files.empty? %>
  <div><p>No uploaded files</p></div>
<% end %>
<% @imported_files.each do |import| %>
  <div class="row">
    <small class="col-sm-1">Filename: </small>
    <p class="col-sm-3"><%= import.file.filename.to_s %></p>
    <small class="col-sm-2">File created_at: </small>
    <p class="col-sm-3"><%= import.created_at %></p>
    <small class="col-sm-1">Status: </small>
    <p class="col-sm-2"><%= import.status %></p>
  </div>
<% end %>

<div class="flickr_pagination mb-4">
  <%= will_paginate @imported_files, :container => false %>
</div>
